<div class="mb-3">
    <label for="prdCat" class="form-label">Category : </label>
    <select class="form-control" name="cat" id="prdCat" [(ngModel)]="selectedCategoryId">
        <option *ngFor="let item of categoryList" [value]="item.id">{{item.name}}</option>
    </select>
</div>

<div class="text-secoundry">
    [To be removed] For test :
    {{selectedCategoryId}}
</div>
<hr>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Count</th>
            <th scope="col">Buy</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let item of productList" [style.background-color]="(item.quantity==1) ? 'red' : 'blue'">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td><img [src]="item.imageUrl"></td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <!--Template variable-->
            <td><input type="number" #countNumber class="form-control"></td>
            <td><button class="btn btn-secoundry" (click)="Buy(item.price,countNumber.value)">Buy</button></td>
        </tr>
    </tbody>
</table>

<hr>
<h3>The total price : {{totalPrice}}</h3>